//主色调
$color-main-orange: #ED7625;
$color-main-purple: #48096B;

//辅助色
$color-assist-green: #67C23A;
$color-assist-orange: #E6A23C;
$color-assist-purple: #824C96;
$color-assist-pink: #F56C6C;

//中性色
$color-text: #303133;
$color-text-hint: #606266;
$color-text-disable: #a3a3a3;
$color-text-disable: #a3a3a3;

//边框色
$color-border-nav: #DCDFE6;
$color-border-module: #EBEEF5;
$color-border-main: #9A9A9A;

//背景色
$color-bg-purple-main: #824C96;
$color-bg-gray-main: #a3a3a3;
$color-bg-gray: #F5F7FA;
$color-bg-purple: #D1C4E9;
$color-bg:rgba(255,255,255,1);


//字体大小
$text-size-big:24px;
$text-size-common:18px;
$text-size-medium:16px;
$text-size-normal:14px;
$text-size-small:12px;


//图标距离
$pic-distance-small:8px;
$pic-distance-normal:12px;
$pic-distance-big:16px;


$white:#fff;
$black:#000;



//slidebar背景颜色
$slibar-bg: linear-gradient(240deg, rgba(130, 76, 150, 1) 0%, rgba(67, 52, 102, 1) 100%)
